<div class="target-card">
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="http://i.telegraph.co.uk/multimedia/archive/02096/puerto_2096109b.jpg">
        </div>
        <div class="card-content">
        <div class="progress">
          <div class="determinate" style="width: <%= @account.target_percentage( @target ) %>%"></div>
          </div>
<<<<<<< HEAD
          <div class="target-summary">
          <p><%= @account.target_percentage(target) %>%</p>     <P><%= target.days_left %> days to go </p>
         <!--  <p>£<%= @account.target_progress %>/£<%= target.amount %></p> -->
          <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-content">
        <span class="card-title">fuk u</span>
        <p><%= @quote.message %></p>
=======
          <p><%= @account.target_percentage( @target ) %>%</p>
          <p>£<%= @account.target_progress %>/£<%= @target.amount_format %></p>
          <p><%= @target.days_left %> days left</p>
>>>>>>> 41638f98ade999e9b34080ae2a1348e17e668371
        </div>
      </div>
    </div>
  </div>
