<<<<<<< HEAD

<h3>Tags  <a href="tags/new">   +</a></h3>
=======
<h3>Tags</h3>
>>>>>>> 9b3478ac747ea74607f9fe00f2fd254127aacddf
<ul class="collection">

    <p><% @account.tags.each do |t| %>
    <li class="collection-item avatar">
        <b><%= t.name %></b><br>
        Monthly Budget: £<%= t.budget_format %><br>
        Expenditure This Month: £<%= @account.tag_total( t.id ) %><br>
        Progress: <%= @account.budget_percentage( t.id ) %>%<br>
        <div class="tag-progress">
        <div class="progress">
         <div class="determinate" style="width: <%= @account.budget_percentage( t.id ) %>%">
         </div>
        </div>
        </div>
        <a href="/tags/<%= t.id %>">View</a><br><br>
        </li>
        <% end %> <br>
    </p>
</ul>