  <form class="search" action="/transactions" method="get">
  <label>Filter</label>
  <select class="browser-default">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">All</option>
    <option value="2">This Month</option>
  </select>
  </form>
            
<h2> Transactions    <a href="transactions/new">   +</a></h2> 

<table class="bordered striped ">
  <thead>
    <tr>
      <th>Merchant</th>
      <th>Tag</th>
      <th>Date</th>
      <th>Amount</th>
      <th>View</th>
    </tr>
      </thead>
       <tbody>

            <% @account.transactions.each do |transaction| %>
              <tr>
                <% for merchant in @account.merchants %>
                <% if merchant.id == transaction.merchant_id%>
                <td><%= merchant.name %></td>
                <% end %>
                <% end %>

                <% for tag in @account.tags %>
                <% if tag.id == transaction.tag_id%>
                <td><%= tag.name %></td>
                <% end %>
                <% end %>
        
                <td><%= transaction.date_format %></td>

                <td>£<%= sprintf "%.2f" % transaction.amount %></td>

                <td><a href="/transactions/<%= transaction.id %>">View</a></td>
              </tr>
            <% end %>
      </tbody>



