<h3> Transactions    <a href="transactions/new">   +</a></h3> 

  <form class="search" action="/transactions" method="get">
  <div id="Jbox"class="row">
  <div class="input-field col s12">
    <div class="col s8 offset-s2">
  <select class="browser-default">
<<<<<<< HEAD
    <option value="" disabled selected>Filter Transactions</option>
=======
    <option value="" disabled selected>Filter</option>
>>>>>>> 9b3478ac747ea74607f9fe00f2fd254127aacddf
    <option value="1">All</option>
    <option value="2">This Month</option>
  </select>
  </div>
  </div>
<<<<<<< HEAD
=======
  </div>
  </form>

>>>>>>> 9b3478ac747ea74607f9fe00f2fd254127aacddf
<table class="bordered striped ">
  <thead>
    <tr>
      <th>Merchant</th>
      <th>Tag</th>
      <th>Date</th>
      <th>Amount</th>
      <th>View</th>
    </tr>
      </thead>
       <tbody>

            <% @account.transactions.each do |transaction| %>
              <tr>
                <% for merchant in @account.merchants %>
                <% if merchant.id == transaction.merchant_id%>
                <td><%= merchant.name %></td>
                <% end %>
                <% end %>

                <% for tag in @account.tags %>
                <% if tag.id == transaction.tag_id%>
                <td><%= tag.name %></td>
                <% end %>
                <% end %>
        
                <td><%= transaction.date_format %></td>

                <td>£<%= sprintf "%.2f" % transaction.amount %></td>

                <td><a href="/transactions/<%= transaction.id %>">View</a></td>
              </tr>
            <% end %>
      </tbody>



